{% extends 'all-photos/base.html' %}
{% block content %}
<section id="search">
    <div class="container">
        <div class="row">
            {% if photos %}
            <h2 class="text-center">
                Found {{ photos|length }} of searched term {{message}}
            </h2>
            {% else %}
            <h2 class="text-center">Found 0 photos for the search term {{message}}</h2>
            {% endif %}
        </div>
        <div class="row">
            {% if photos %}
            {% for photo in photos %}
            <ul class="text-center">
                <li>
                    <a href="{% url 'photo' photo.id %}">
                        <h3>{{photo.image_name}}</h3>
                    </a>
                </li>
            </ul>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}